@font-face {
  font-family: 'Alpha-Light';
  src: url('./Alpha/Light/AlphaLight.eot');
  src: url('./Alpha/Light/AlphaLight.woff2') format('woff2'),
       url('./Alpha/Light/AlphaLight.woff') format('woff'),
       url('./Alpha/Light/AlphaLight.ttf') format('truetype'),
       url('./Alpha/Light/AlphaLight.svg#AlphaLight') format('svg'),
       url('./Alpha/Light/AlphaLight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alpha-Medium';
  src: url('./Alpha/Medium/AlphaMedium.eot');
  src: url('./Alpha/Medium/AlphaMedium.woff2') format('woff2'),
       url('./Alpha/Medium/AlphaMedium.woff') format('woff'),
       url('./Alpha/Medium/AlphaMedium.ttf') format('truetype'),
       url('./Alpha/Medium/AlphaMedium.svg#AlphaMedium') format('svg'),
       url('./Alpha/Medium/AlphaMedium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alpha-Outline';
  src: url('./Alpha/Outline/AlphaOutline.eot');
  src: url('./Alpha/Outline/AlphaOutline.woff2') format('woff2'),
       url('./Alpha/Outline/AlphaOutline.woff') format('woff'),
       url('./Alpha/Outline/AlphaOutline.ttf') format('truetype'),
       url('./Alpha/Outline/AlphaOutline.svg#AlphaOutline') format('svg'),
       url('./Alpha/Outline/AlphaOutline.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alpha-Regular';
  src: url('./Alpha/Regular/AlphaRegular.eot');
  src: url('./Alpha/Regular/AlphaRegular.woff2') format('woff2'),
       url('./Alpha/Regular/AlphaRegular.woff') format('woff'),
       url('./Alpha/Regular/AlphaRegular.ttf') format('truetype'),
       url('./Alpha/Regular/AlphaRegular.svg#AlphaRegular') format('svg'),
       url('./Alpha/Regular/AlphaRegular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Abster';
  src: url('./Abster/ABSTERRegular.eot');
  src: url('./Abster/ABSTERRegular.woff2') format('woff2'),
       url('./Abster/ABSTERRegular.woff') format('woff'),
       url('./Abster/ABSTERRegular.ttf') format('truetype'),
       url('./Abster/ABSTERRegular.svg#ABSTERRegular') format('svg'),
       url('./Abster/ABSTERRegular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neon';
  src: url('./Neon/NEON.eot');
  src: url('./Neon/NEON.woff2') format('woff2'),
       url('./Neon/NEON.woff') format('woff'),
       url('./Neon/NEON.ttf') format('truetype'),
       url('./Neon/NEON.svg#NEON') format('svg'),
       url('./Neon/NEON.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Elephant';
  src: url('./Elephant/ElephantOutline.eot');
  src: url('./Elephant/ElephantOutline.woff2') format('woff2'),
       url('./Elephant/ElephantOutline.woff') format('woff'),
       url('./Elephant/ElephantOutline.ttf') format('truetype'),
       url('./Elephant/ElephantOutline.svg#ElephantOutline') format('svg'),
       url('./Elephant/ElephantOutline.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans Bold';
  src: url('./Product\ Sans/Bold/Product Sans Bold.eot');
  src: url('./Product\ Sans/Bold/Product Sans Bold.woff2') format('woff2'),
       url('./Product\ Sans/Bold/Product Sans Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans Bold';
  src: url('./Product\ Sans/Bold/ProductSans-Bold.woff') format('woff'),
       url('./Product\ Sans/Bold/ProductSans-Bold.ttf') format('truetype'),
       url('./Product\ Sans/Bold/ProductSans-Bold.svg#ProductSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans Bold Italic';
  src: url('./Product\ Sans/Bold\ Italic/Product Sans Bold Italic.eot');
  src: url('./Product\ Sans/Bold\ Italic/Product Sans Bold Italic.woff2') format('woff2'),
       url('./Product\ Sans/Bold\ Italic/Product Sans Bold Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans Bold Italic';
  src: url('./Product\ Sans/Bold\ Italic/ProductSans-BoldItalic.woff') format('woff'),
       url('./Product\ Sans/Bold\ Italic/ProductSans-BoldItalic.ttf') format('truetype'),
       url('./Product\ Sans/Bold\ Italic/ProductSans-BoldItalic.svg#ProductSans-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans Italic';
  src: url('./Product\ Sans/Italic/Product Sans Italic.eot');
  src: url('./Product\ Sans/Italic/Product Sans Italic.woff2') format('woff2'),
       url('./Product\ Sans/Italic/Product Sans Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans Italic';
  src: url('./Product\ Sans/Italic/ProductSans-Italic.woff') format('woff'),
       url('./Product\ Sans/Italic/ProductSans-Italic.ttf') format('truetype'),
       url('./Product\ Sans/Italic/ProductSans-Italic.svg#ProductSans-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans';
  src: url('./Product\ Sans/Regular/Product Sans Regular.eot');
  src: url('./Product\ Sans/Regular/Product Sans Regular.woff2') format('woff2'),
       url('./Product\ Sans/Regular/Product Sans Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans';
  src: url('./Product\ Sans/Regular/ProductSans-Regular.woff') format('woff'),
       url('./Product\ Sans/Regular/ProductSans-Regular.ttf') format('truetype'),
       url('./Product\ Sans/Regular/ProductSans-Regular.svg#ProductSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Archia';
    src: url('./Archia/archia-regular-webfont.eot');
    src: url('./Archia/archia-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./Archia/archia-regular-webfont.woff2') format('woff2'),
         url('./Archia/archia-regular-webfont.woff') format('woff'),
         url('./Archia/archia-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
