html{
	overflow-x: hidden; 
}

#supercoolgfrlogo{
	padding-top: 40vh;
	padding-bottom: 30vh;
}


.down-arrow{
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
  padding-bottom: 10vh;
  display: block;
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: linear-gradient(45deg, #d10300, #216ae0);
    border: 1px solid #333;
}

::selection {
    background: #999;
}
::-webkit-selection {
    background: #999;
}
::-moz-selection {
    background: #999;
}
/* Classes to be used across pages if needed */
/* These have general styling already added to make for easier UX */

/* General Link Styling */
.generallink {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.generallink:hover {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

/* General Styling for Page Titles */
.pagetitle {
    color: #fff;
    font-family: 'Product Sans', sans-serif;
    font-size: 4em;
    font-weight: normal;
    margin: 0;
}

/* General Styling for Bodies of Text on the Page */
/* Subheading 1 */
.bodytitle {
    color: #fff;
    font-family: 'Archia', sans-serif;
}

.blogtitle{
    color: #fff;
    font-family: 'Archia', sans-serif;
    font-size: 2em;
    font-weight: normal;
    margin: 0;
}

/* Container for both .bodytitle and .bodytext */
.textbody {
    margin: 2em 0;
}

/* Styling for large paragraphs of text */
/* Container for large paragraphs of text */
/* Used with .paragraph on <p> elements to denote style */
.bodytext {
    margin-left: 0em;
}


html, body {
    background: transparent;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    flex: 1;
}

.sectionheader {
    background: #101010;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexwrapper {
    width: 50em;
    margin: 5em 2em;
    padding: 0;
}

.comeback {
    color: #fff;
    font-family: "Archia", sans-serif;
    font-weight: normal;
}

.splash {
    height: 100vh;
}

.titlebox {
    margin: 0;
    padding: 2.5em;
    text-align: center;
    position: relative;
}

.gaelforce {
    margin: 0;
    font-family: 'Product Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-size: 2.2em;
    color: #fff;
}

.altshow {
    visibility: hidden;
    font-size: 0;
}

.althide {
    visibility: visible;
    font-size: auto;
}

.nospace {
    letter-spacing: 0;
}

.titlebox::after {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background: linear-gradient(45deg, #d10300, #216ae0);
  background: -webkit-linear-gradient(45deg, #d10300, #216ae0);
  background: -moz-linear-gradient(45deg, #d10300, #216ae0);
  background-size: 300% 300%;
  clip-path: polygon(0% 100%, 7px 100%, 7px 7px, calc(100% - 7px) 7px, calc(100% - 7px) calc(100% - 7px), 7px calc(100% - 7px), 7px 100%, 100% 100%, 100% 0%, 0% 0%);
}

.titlebox.in:after {
  animation: frame-enter 1s forwards ease-in-out reverse, border-gradient-animation 10s ease-in-out infinite;
  -webkit-animation: frame-enter 1s forwards ease-in-out reverse, border-gradient-animation 10s ease-in-out infinite;
  -moz-animation: frame-enter 1s forwards ease-in-out reverse, border-gradient-animation 10s ease-in-out infinite;
}

nav {
    position: absolute;
}

.line {
    background: #fff;
    border-radius: 150px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    height: 3px;
}

.navbutton {
    position: absolute;
    z-index: 2;
    border: none;
    margin: 0;
    padding: 0;
    visibility: visible;
    background: #222;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.navicon {
    list-style-type: none;
    margin: 2em;
    padding: 0;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.togglednav .navbutton {
    background: rgba(255, 255, 255, 0.1);
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.togglednav .navicon {
    margin-right: 1em;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.line:nth-child(1){
    width: 12px;
    margin-top: 0;
    margin-bottom: 5px;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.line:nth-child(2){
    width: 22px;
    margin-top: 0;
    margin-bottom: 5px;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.line:nth-child(3){
    width: 12px;
    margin: 0;
    margin-left: 10px;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.navicon:focus, .navbutton:focus {
    outline: 0px solid transparent;
}

nav .overlay {
    width: 0vw;
    height: 100vh;
    background: linear-gradient(45deg, #d10300, #216ae0);
    background-size: 175% 175%;
    -webkit-animation: background-gradient-animation 30s ease infinite;
    -moz-animation: background-gradient-animation 30s ease infinite;
    animation: background-gradient-animation 30s ease infinite;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.togglednav .overlay {
    position: absolute;
    z-index: 1;
    width: 100vw;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.togglednav .line:nth-child(1) {
    width: 25px;
    height: 3px;
    transform: rotate(45deg) translate(0.3em, 0.55em);
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.togglednav .line:nth-child(2) {
    opacity: 0;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.togglednav .line:nth-child(3) {
    width: 25px;
    height: 3px;
    transform: rotate(-45deg) translate(-0.2em, -1.05em);
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.links {
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
    margin: 0;
    height: 0;
}

.togglednav .linkbox {
    height: 100vh;
}

.linkbox {
    width: 100vw;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.linkwrapper {
    padding: 0;
    margin: 0;
    width: 0vw;
    height: 40em;
    padding-top: 5em;
}

.togglednav .linkwrapper {
    width: 100vw;
}

.navlink:nth-child(1) {
    margin-top: -3em;
}

.togglednav .navlink:nth-child(1) {
    animation-delay: 0.1s;
}

.togglednav .navlink:nth-child(2) {
    animation-delay: 0.2s;
}

.togglednav .navlink:nth-child(3) {
    animation-delay: 0.3s;
}

.togglednav .navlink:nth-child(4) {
    animation-delay: 0.4s;
}

.togglednav .navlink:nth-child(5) {
    animation-delay: 0.5s;
}

.togglednav .navlink:nth-child(6) {
    animation-delay: 0.6s;
}

.togglednav .navlink:nth-child(7) {
    animation-delay: 0.7s;
}

.togglednav .navlink:nth-child(8) {
    animation-delay: 0.8s;
}

.togglednav .navlink {
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.2, 1, 0.2, 1);
    opacity: 1;
    font-size: 0.8em;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    pointer-events: auto;
}

.togglednav .navlink .link::before, .togglednav .navlink .link::after {
    font-family: 'Product Sans' sans-serif;
    font-size: 1em;
    display: inline-block;
    opacity: 0;
    margin-top: 0;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.togglednav .navlink .link::before {
    content: '[';
}

.togglednav .navlink .link::after {
    content: ']';
}

.togglednav .navlink .link:hover::after, .togglednav .navlink .link:focus::after, .togglednav .navlink .link:hover::before, .togglednav .navlink .link:focus::before {
    opacity: 1;
    display: inline-block;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    outline: none;
}

.togglednav .navlink .link:hover::after, .togglednav .navlink .link:focus::after {
    margin-left: 10px;
}

.togglednav .navlink .link:hover::before, .togglednav .navlink .link:focus::before{
    margin-right: 10px;
}

.navlink:nth-child(8) {
    margin-bottom: 0;
}

.navlink {
    color: #fff;
    pointer-events: none;
    opacity: 0;
    margin-bottom: 1em;
    padding: 1em;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    text-align: center;
}

.navlink a {
    color: #fff;
    font-family: 'Product Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2.2em;
    letter-spacing: 0.1em;
}

.teamoverlay {
    position: absolute;
    z-index: 2;
    height: 100vh;
    width: 0vw;
    background: #216ae0;
    visibility: hidden;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.toggledteam .teamoverlay {
    visibility: visible;
    width: 100vw;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.toggledteam .teamoverlay .teambackbutton {
    opacity: 1;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.teambackbutton {
    position: absolute;
    z-index: 2;
    border: none;
    margin: 0;
    padding: 0;
    opacity: 0;
    background: rgba(255, 255, 255, 0.2);
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.arrowicon {
    list-style-type: none;
    margin: 2.5em 2em;
    padding: 0;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.arrowline {
    background: #fff;
    border-radius: 150px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    height: 3px;
}

.teambox {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggledteam .teamtitle {
    opacity: 1;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.teamtitle {
    color: #fff;
    text-align: center;
    font-size: 4em;
    font-family: 'Product Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin: 0;
    opacity: 0;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.teambackbutton:focus, .teambackbutton:focus {
    outline: 0px solid transparent;
}
.arrowline:nth-child(n+1) {
    width: 12px;
}

.arrowline:nth-child(2) {
    width: 22px;
}

.arrowline:nth-child(1) {
    transform: rotate(-45deg) translate(-0.087em, -0.12em);
}
.arrowline:nth-child(3) {
    transform: rotate(45deg) translate(-0.087em, 0.12em);
}

.teamletter {
    font-family: 'Elephant', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 15em;
    margin: 0.2em;
    padding: 0;
    opacity: 0;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.teamletters {
    margin: 0;
    padding: 0;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.toggledteam .teamoverlay .teamletters .teamletter {
    opacity: 1;
    height: 100%;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.toggledteam .teamoverlay .teamletters > .teamletter {
    opacity: 1;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 1s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 1s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 1s;
}

.toggledteam .teamoverlay .teamletters:hover > .teamletter {
    opacity: 0.5;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 1s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 1s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 1s;
}

.toggledteam .teamoverlay .teamletters:hover > .teamletter:hover {
    opacity: 1;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

footer {
    background: #191919;
    /* background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3f6e5055d9ad1d603fd364c11823d026&auto=format&fit=crop&w=2252&q=80");
    background-position: center;
    background-size: cover;
    background-attachment: fixed; */
    color: #fff;
    font-family: 'Product Sans', sans-serif;
    margin-top: 0;
    padding: 2em;
}

.footertext {
    margin: 1em 0;
}

.mail {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.mail:hover {
    border-bottom: 1px solid transparent;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.footertext:nth-child(1) {
    font-weight: normal;
    margin: 0.7em 0;
}

.social > .socialicons {
    opacity: 1;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.social:hover > .socialicons {
    opacity: 0.5;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.social:hover > .socialicons:hover {
    opacity: 1;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.social {
    text-align: right;
    margin: 1em 0;
}

.copyright {
    text-align: right;
}

.socialicons {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    margin: 0 1em;
    text-align: center;
}

form {
    margin: 0;
    padding: 0;
}

.intialcontact {
    color: #fff;
    font-family: 'Product Sans', sans-serif;
    font-weight: normal;
    margin: 1em;
    text-align: center;
}

.inputbox {
    margin: 1em auto;
    width: 20em;
}

::placeholder {
    color: #216ae0;
}

.input {
    width: 100%;
    height: 3em;
    padding: 10px;
    font-family: 'Archia', serif;
    color: #444;
    border: 5px solid transparent;
}

.input:hover, .input:focus {
    outline: none;
}

input[type='submit'] {
    padding: 0;
    background: #fff;
    font-weight: bold;
    color: #101010;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    cursor: pointer;
}

input[type='submit']:hover {
    letter-spacing: 2px;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

#message {
    height: 10em;
}

.formlink {
    font-family: 'Archia', serif;
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
    margin: 1em 0;
}

.fileicon {
    margin-right: 1em;
}

.formlinks > .formlink {
    opacity: 1;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.8s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.8s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.8s;
}

.formlinks:hover > .formlink, .formlinks:hover > .formlink + .paragraph {
    opacity: 0.5;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.8s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.8s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.8s;
}

.formlinks:hover > .formlink:hover, .formlinks:hover > .formlink:hover + .paragraph {
    opacity: 1;
    -moz-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    -webkit-transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.2, 1, 0.2, 1) 0.4s;
}

.documentdescription {
    padding: 0 2.7em;
}

.paragraph {
    font-family: 'Archia', serif;
    color: #fff;
    letter-spacing: 0.005em;
    line-height: 1.4em;
}

#teamPage .paragraph{
	font-size: 140%;
	margin-bottom: 3em;
	text-align: justify;
}

.learnmorebox {
    margin-top: 2em;
}

.learnmore {
    font-size: 1.2em;
    font-family: 'Archia', sans-serif;
}

.column .galleryimage {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.gallery {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

.expand {
    width: 80vw;
}

.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.comingsoon {
    font-family: 'Product Sans', sans-serif;
}

#presentationList {
    list-style-type: none;
}

.currentprez, .allprez {
    font-family: 'Archia';
}

.prezlinkcontainer {
    margin: 1em 0;
}

.prezlisting a {
    font-family: 'Archia', sans-serif;
    font-size: 1.2em;
}

.prezlisting {
    line-height: 2.2em;
}

.footnote {
    color: #fff;
    font-family: 'Archia', sans-serif;
    font-size: 0.8em;
}

@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
@media only screen and (max-width: 760px) {
    .gaelforce {
        font-size: 2em;
        letter-spacing: 5px;
    }
    .althide {
        visibility: hidden;
        font-size: 0;
    }
    .altshow {
        visibility: visible;
        font-size: auto;
        letter-spacing: 35px;
    }
    .navlink {
        font-size: 0.8em;
    }
    .navlink:nth-child(1) {
        margin-top: 2em;
    }
    .navicon {
        margin: 1.2em;
    }
    .arrowicon {
        margin: 1.7em 1.2em;
    }
    .teamletter {
        font-size: 3em;
    }
    .togglednav .navicon {
        margin-right: 0;
    }
    .teamtitle {
        font-size: 1em;
    }
    .footertext, .social, .copyright {
        text-align: center;
    }
    .intialcontact {
        font-size: 1.5em;
        width: 100vw;
        text-align: center;
        margin-top: 4em;
    }
    .pagetitle {
        font-size: 2.5em;
    }
    .formlink {
        font-size: 1.2em;
    }
}

@-webkit-keyframes border-gradient-animation {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 85% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}

@-moz-keyframes border-gradient-animation {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 85% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}

@keyframes border-gradient-animation {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 85% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}

@keyframes frame-enter {
  0% {
    clip-path: polygon(0% 100%, 7px 100%, 7px 7px, calc(100% - 7px) 7px, calc(100% - 7px) calc(100% - 7px), 7px calc(100% - 7px), 7px 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  25% {
    clip-path: polygon(0% 100%, 7px 100%, 7px 7px, calc(100% - 7px) 7px, calc(100% - 7px) calc(100% - 7px), calc(100% - 7px) calc(100% - 7px), calc(100% - 7px) 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  50% {
    clip-path: polygon(0% 100%, 7px 100%, 7px 7px, calc(100% - 7px) 7px, calc(100% - 7px) 7px, calc(100% - 7px) 7px, calc(100% - 7px) 7px, calc(100% - 7px) 7px, 100% 0%, 0% 0%);
  }
  75% {
    clip-path: polygon(0% 100%, 7px 100%, 7px 7px, 7px 7px, 7px 7px, 7px 7px, 7px 7px, 7px 7px, 7px 0%, 0% 0%);
  }
  100% {
    clip-path: polygon(0% 100%, 7px 100%, 7px 100%, 7px 100%, 7px 100%, 7px 100%, 7px 100%, 7px 100%, 7px 100%, 0% 100%);
  }
}

@-webkit-keyframes frame-enter {
  0% {
    -webkit-clip-path: polygon(0% 100%, 7px 100%, 7px 7px, calc(100% - 7px) 7px, calc(100% - 7px) calc(100% - 7px), 7px calc(100% - 7px), 7px 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  25% {
    -webkit-clip-path: polygon(0% 100%, 7px 100%, 7px 7px, calc(100% - 7px) 7px, calc(100% - 7px) calc(100% - 7px), calc(100% - 7px) calc(100% - 7px), calc(100% - 7px) 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  50% {
    -webkit-clip-path: polygon(0% 100%, 7px 100%, 7px 7px, calc(100% - 7px) 7px, calc(100% - 7px) 7px, calc(100% - 7px) 7px, calc(100% - 7px) 7px, calc(100% - 7px) 7px, 100% 0%, 0% 0%);
  }
  75% {
    -webkit-clip-path: polygon(0% 100%, 7px 100%, 7px 7px, 7px 7px, 7px 7px, 7px 7px, 7px 7px, 7px 7px, 7px 0%, 0% 0%);
  }
  100% {
    -webkit-clip-path: polygon(0% 100%, 7px 100%, 7px 100%, 7px 100%, 7px 100%, 7px 100%, 7px 100%, 7px 100%, 7px 100%, 0% 100%);
  }
}

@-moz-keyframes frame-enter {
  0% {
    -moz-clip-path: polygon(0% 100%, 7px 100%, 7px 7px, calc(100% - 7px) 7px, calc(100% - 7px) calc(100% - 7px), 7px calc(100% - 7px), 7px 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  25% {
    -moz-clip-path: polygon(0% 100%, 7px 100%, 7px 7px, calc(100% - 7px) 7px, calc(100% - 7px) calc(100% - 7px), calc(100% - 7px) calc(100% - 7px), calc(100% - 7px) 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  50% {
    -moz-clip-path: polygon(0% 100%, 7px 100%, 7px 7px, calc(100% - 7px) 7px, calc(100% - 7px) 7px, calc(100% - 7px) 7px, calc(100% - 7px) 7px, calc(100% - 7px) 7px, 100% 0%, 0% 0%);
  }
  75% {
    -moz-clip-path: polygon(0% 100%, 7px 100%, 7px 7px, 7px 7px, 7px 7px, 7px 7px, 7px 7px, 7px 7px, 7px 0%, 0% 0%);
  }
  100% {
    -moz-clip-path: polygon(0% 100%, 7px 100%, 7px 100%, 7px 100%, 7px 100%, 7px 100%, 7px 100%, 7px 100%, 7px 100%, 0% 100%);
  }
}

@-webkit-keyframes background-gradient-animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes background-gradient-animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes background-gradient-animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
