@font-face {
  font-family: 'ElephantOutline';
  src: url('ElephantOutline.eot');
  src: url('ElephantOutline.woff2') format('woff2'),
       url('ElephantOutline.woff') format('woff'),
       url('ElephantOutline.ttf') format('truetype'),
       url('ElephantOutline.svg#ElephantOutline') format('svg'),
       url('ElephantOutline.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

