@font-face {
  font-family: 'NEON';
  src: url('NEON.eot');
  src: url('NEON.woff2') format('woff2'),
       url('NEON.woff') format('woff'),
       url('NEON.ttf') format('truetype'),
       url('NEON.svg#NEON') format('svg'),
       url('NEON.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

