@font-face {
  font-family: 'Product Sans Italic';
  src: url('Product Sans Italic.eot');
  src: url('Product Sans Italic.woff2') format('woff2'),
       url('Product Sans Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProductSans-Italic';
  src: url('ProductSans-Italic.woff') format('woff'),
       url('ProductSans-Italic.ttf') format('truetype'),
       url('ProductSans-Italic.svg#ProductSans-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

