@font-face {
  font-family: 'ABSTERRegular';
  src: url('ABSTERRegular.eot');
  src: url('ABSTERRegular.woff2') format('woff2'),
       url('ABSTERRegular.woff') format('woff'),
       url('ABSTERRegular.ttf') format('truetype'),
       url('ABSTERRegular.svg#ABSTERRegular') format('svg'),
       url('ABSTERRegular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

